// FP_MC700TgWinCustom.RC : XOP-specific resources for CED1401 on Windows

//	This file is compiled by the resource compiler and creates 
//   XOP-specific	resources that IGOR looks for in an XOP module.

// Defines XOP-specific symbols.
#include "XOPResources.h"	
#include "IgorXOP.h"	  // NT_I16


#include "FP_MC700Tg.h"		// sets MCTG_IGORMAINFRM: compile and link all code necessary for the MultiClamp telegraph connection	

// Custom error messages
// those above 100 are copied from USE1401.h. The original numbers ranging from..
// -500  to  -611 are converted to a range suitable for IGOR ( see XOPEntry() in CED1401.C )
//   same order as the list of #defines in CED1401.H
1100 STR#				
BEGIN    
   //   1 
	"FPulseCed-XOP requires Igor 2.0 or later. \0",	  
	"FPulseCed-XOP was called to execute an unknown function.\0",
	"Input string is non-existent. \0",
	"Wave does not exist \0",
	"Coefficient wave must be single or double precision floating point \0",
	"m must be ² l; m and l must be within -1 to 1 \0",
	"The logfit XFUNC requires a math coprocessor \0",
	"The plgndr XFUNC requires a math coprocessor \0",
	"Input number must not be negative \0",
	"Is not 2 byte integer wave \0",
	"Is not 4 byte float wave \0",
	"Is not text wave \0",
	"Waves have different lengths \0",
	"Out of memory.....           \0",
	"Is neither 2 byte integer wave nor 4 byte float wave \0",

   //  16 
															"?\0", "?\0", "?\0", "?\0",
   "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0",
   "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0",
   "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0",
   "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0",
   "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0",
   "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0",
   "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0",
   "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0", "?\0",

   // 100  Start of CED errors
   "1401 is there but switched off (-500) \0",
  
	0,								// ENDE der String-Resource.
END


// no menu item 


// XOPI - Describes general XOP properties to IGOR. 
1100 XOPI					  
BEGIN
	XOP_VERSION,			  // Version number of host XOP system.
	DEV_SYS_CODE,			  // Code for development system used to make XOP
	0,							  // True if XOP requires hierarchical menus
	1,							  // True if XOP requires math coprocessor
	0							  // True if XOP requires MMU
END



// SAME ORDER IN 'sfunc[]' AND HERE IN  xxxxWinCustom.RC
// Describes FUNCTIONS added by XOP to IGOR.
1100 XOPF	
BEGIN

#ifdef MCTG_IGORMAINFRM			

	//---------------- START OF MULTICLAMP TELEGRAPH INTERFACE --------------------

	"xMCTgDebugMsg\0",			// Function name   
	F_UTIL | F_EXTERNAL,		  	// Function category,
     NT_FP64,					   // Return value type.
		   NT_FP64,				   // 1.par: true or false
		   0,						   // end of parameters
	
	"xMCTgPickupInfo\0",			// Function name    
	F_UTIL | F_EXTERNAL,		  	// Function category,
     HSTRING_TYPE,	     	   // Returns string 'Typ,SerNum,ComPort1,AxoBus1,ch0,mode,gain; Typ,SerNum,ComPort1,AB1,ch1,....'
		   0,						   // end of parameters

	// --------------- END   OF MULTICLAMP TELEGRAPH INTERFACE ------------------

#endif	// MCTG_IGORMAINFRM	
	

	// More function descriptions can appear here.
	
	0,								   // ENDE der Funktionen-Resource.
END

